.additional-info-container{
  background: #FFFFFF;
  padding: 122px 144px 122px 144px;
  display: flex;
}

.additional-info-container h1{
  color: #222F33;
  font-weight: 900;
  font-size: 26px;
  line-height: 33px;
  margin: 0px 0px 0px 0px;

}

.additional-info-container p{
  font-size: 17px;
  line-height: 32px;
  color: #646D70;
  margin: 8px 0px 0px 0px;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.additional-info-container img{
  max-width: 511px;
}

.data{
  display: flex;
  margin-left: 108px;
}
.data>*{
  display: flex;
  flex-direction: column;
}

.l-data{
  margin-right: 86px;
}

.l-data div, .r-data div{
  flex: 1;
}
