@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');
@import url('header.css');
@import url('info.css');
@import url('innovative.css');
@import url('additional.css');
@import url('footer.css');


body {
  background: #222F33 url('../images/bg.png') no-repeat;
  background-size: 100%;
}
h1{
  font-family: 'Merriweather';
}

p, h3, ul, button, a {
  font-family: 'Rubik';
}

button{
  cursor: pointer;
}

.content{
  position: absolute;
  top: 100%;
  left: 0px;
  margin: 0 auto;
}
