form input,
select,
textarea {
    width: 300px;
    margin-bottom: 15px;
    margin-top: 5px;
    border: #17252A solid 2px;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
}

form select,
button {
    width: 313px;
}

form h1 {
    transform: translateX(-50%);
    margin-left: 50%;
}

form textarea {
    resize: none;
    height: 100px;
}

form button {
    font-size: 18px;
    border-radius: 4px;
    padding: 4px 15px;
    cursor: pointer;
    border: solid 1px;
    color: #FEFFFF;
    background: #068d9d;
}